* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.divPai {
    display: flex;
}

/* começo do menu lateral*/
/* .divPaiLateral {    
    background-color: #020F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 100vh;
}

.filhoLateral {
    width: 10vw;
    height: 96vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divNomeEmpresa {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 2%;
}

#nomeEmpresa {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.divMainMenu {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 7%;
}

#pMainMenu {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin:2.5%;
}

.divPaiOpcoesMenu {
    width: 100%;
    height: 40vh;
    position: relative;
    top: 8%;
    left:1.0%;
}
.divPaiOpcoesMenu p{
    color:white
}
.divPaiOpcoesMenu a {
    text-decoration: none;
    cursor:pointer;
    color:white;
    font-size: 11px;
}

.divHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin:8%;
}
#icon {
    width: 2vw;
    height: 4vh;
    text-decoration: none;
    cursor:pointer;
}
#iconDashboardsLateral{
    width: 2vw;
    height: 4vh;
    text-decoration: none;
    cursor:pointer;
}

#pMenuHome{
    position:relative;
    left:-4%;
}
#pMenuEstatistica{
    position:relative;
    left:-3%;
    
}
#pMenuCadastroFuncionario{
    position:relative;
    left:25%;
    
}
#pMenuCadastroMaquina{
    position:relative;
    left:25%;
}
#pMenuFuncionarios{
    position:relative;
    left:15%;
    color:rgb(5, 116, 116);
    font-size: 11px;
}
#pMenuMaquina{
    position:relative;
    right:2%;
}


.divEstatisticas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    margin:8%;
}

.divComputador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin:8%
}
.divCadastroComputador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin:8%
}


.divFuncionarios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin:8%
}


.divChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7vw;
    position: relative;
    top: 5%;
    margin:5%;
}

.divHelp {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 20%;
    left:5%;
}

.divPaiHelpMenu {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 20%;
}

#pHelp {
    color: white;
    font-size: 12px;
    font-weight: bold; 
}
#pMenuChat{
    position:relative;
    right:24%;
    color:white;
    font-size: 11px;
}
#pMenuConfig{
    position:relative;
    left:4%;
    color:white;
    font-size:13px;
    font-size: 11px;
}
#pMenuSupport{
    position:relative;
    right:9%;
    color:white;
    font-size: 11px;
}


.divHelpDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7vw;
    position: relative;
    top: 5%;
    margin:5%;
}



.divConfiguracoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
    position: relative;
    top: 35%;
    margin:5%;
}

.divEspacoV2 {
    background-color: rgba(255, 255, 255, 0.409);
    width: 9vw;
    height: 0.1vh;
    position: relative;
    top: 17%;
    
}
fim do menu lateral */

/* começo da cabeçalho */
.divPaiCabecalho {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 171, 171);
}   

.filhoCabecalho {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.direitaCabecalho {
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divPerfilCabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 14vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textosIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tituloPerfil {
    font-size: 12px;
    font-weight: bold;
}

#cargoPerfil {
    font-size: 12px;
}

.iconPerfilCabecalho {
    width: 3vw;
    height: 6vh;
}

.setaPerfilCabecalho {
    width: 1vw;
    height: 2vh;
}

.emailIconCabecalho {
    width: 1.5vw;
    height: 2.71vh;
    /* Icon Quadraddo */
}

.sinoIconCabecalho {
    width: 1.5vw;
    height: 2.71vh;
    /* Icon Quadraddo */
}

.esquerdaCabecalho {
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputLogin {
    border-radius: 15px;
    border: none;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    display: flex;
    margin: 20px;
}

.inputLogin::placeholder {
    font-size: 11px;
    position: relative;
    top: -5%;
    left: 5%;
}

.lupaBusca {
    width: 25px;
    height: 25px;
    position: relative;
    right: 16%;
}
/* fim do cabeçalho */

/* começo do conteudo */
.divPaiConteudo {
    width: 98.4%;
    height: 90%;
    background-color: #FFF;
    border-radius: 10px;
    margin: 10px;
    
}
span{
    font-size: 40px;
    position: relative;
    top: 2%;
    left: 5%;
}
ul{
    list-style: none;
    display: flex;
    flex-direction:row;
}
.divPaiInformacao img{
    height:30px;
    width:30px;
}

.divColuna{
    display:flex;
    align-items: center;
    position:relative;
    top: 40px;
    width: 70vw;
}

#idTeste {
    /* font-size: 11px; */
    position: relative;
    left: 10%;
    z-index: 1;
}

#idTeste2 {
    font-size: 15px;
    position: relative;
    left: 19%;
    z-index:2
}

#idTeste3 {
    /* font-size: 11px; */
    position: relative;
    left: 38.5%;
    z-index:3
}
#idTeste4{
    /* font-size: 11px; */
    position: relative;
    left: 58%;

}
#idTeste5{

    position: relative;
    left: 64.5%;

}

.divConteudo{
    /* background-color: #8E0A0A; */
    display:flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    right:2.6%;
    width:98%;
    margin:4%;
    height: 500px;
}

.divConteudoScroll{
    /* height:200%; */
    /* background:red; */
    max-height:100%;
    overflow-y:scroll ;
}
.divConteudo li{
    list-style: none;
}
.divfilhoConteudo{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction:row;
    width: 90%;
    height: 20px;
    border-radius: 35px;
    padding: 15px 30px;
    margin:20px;
}

#liNumero{
    position:relative;
    left: 3.5%;
}
#linome{
    
    position:relative;
    left: 8%;
    width:110px;
    text-align:center;
}
#liemail{
    width: 210px;
    position:relative;
    left: 17%;
    text-align:center;
}
#liStatus{
    
    position:relative;
    left: 25.5%;
}
#liCargo{
    position:relative;
    left: 27.5%;
    width:100px;
    text-align:center;
}
#liUpdate{
    position:relative;
    left: 30%;
    border-radius: 30px;
    width: 8%;
    height:110%;
    background-color:#020F1F;
    display:flex;
    justify-content: center;
    padding:2px 5px;
}

#liDelete{
    
    position:relative;
    z-index:94;
    left: 31%;
    border-radius: 30px;
    width: 8%;
    height:110%;
    background-color:#020F1F;
    display:flex;
    justify-content: center;
    padding:2px 5px;
}

#li3Pontos{

    position:relative;
    left:35%;
    bottom: 40%;
    font-size: 130%
}

.active{
    background-color: #1D8E0A;
    border-radius:20px;
    width:70px;
    height: 25px;
    text-align: center;
}
#inactive{
    background-color: #8E0A0A;
    border-radius:20px;
    width:70px;
    height: 25px;
    text-align:center
}

/* fim do conteudo */