* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.divPai {
    display: flex;
}

/* começo da cabeçalho */
.divPaiCabecalho {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 171, 171);
}   

.filhoCabecalho {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.direitaCabecalho {
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divPerfilCabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 14vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textosIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tituloPerfil {
    font-size: 12px;
    font-weight: bold;
}

#cargoPerfil {
    font-size: 12px;
}

.iconPerfilCabecalho {
    width: 3vw;
    height: 6vh;
}

.setaPerfilCabecalho {
    width: 1vw;
    height: 2vh;
}

.emailIconCabecalho {
    width: 1.5vw;
    height: 2.71vh;
    /* Icon Quadraddo */
}

.sinoIconCabecalho {
    width: 1.5vw;
    height: 2.71vh;
    /* Icon Quadraddo */
}

.esquerdaCabecalho {
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputLogin {
    border-radius: 15px;
    border: none;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    display: flex;
    margin: 20px;
}

.inputLogin::placeholder {
    font-size: 11px;
    position: relative;
    top: -5%;
    left: 5%;
}

.lupaBusca {
    width: 25px;
    height: 25px;
    position: relative;
    right: 16%;
}
/* fim do cabeçalho */

/* começo do conteudo */
.divPaiConteudo {
    width: 98.4%;
    height: 90%;
    background-color: #FFF;
    border-radius: 10px;
    margin: 10px;
    
}
span{
    font-size: 40px;
    position: relative;
    top: 2%;
    left: 5%;
}
ul{
    list-style: none;
    display: flex;
    flex-direction:row;
}
.divPaiInformacao img{
    height:20px;
    width:20px;
}

.divColuna{
    display:flex;
    align-items: center;
    position:relative;
    top: 40px;
    width: 70vw;
}

#idTeste {
    position: relative;
    left: 10%;
    z-index: 1;
}

#idTeste2 {
    font-size: 15px;
    position: relative;
    left: 22%;
    z-index:2
}

#idTeste3 {
    /* font-size: 11px; */
    position: relative;
    left: 40%;
    z-index:3
}
#idTeste4{
    /* font-size: 11px; */
    position: relative;
    left: 54.5%;
    z-index:4
}
#idTeste5{
    /* font-size: 11px; */
    position: relative;
    left: 59.1%;
    z-index:5
}

.divConteudo{
    /* background-color: #8E0A0A; */
    display:flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    right:2.6%;
    width:90%;
    margin:4%;
    height: 500px;
}
.divConteudoScroll{
    width:108%;
    height:200%;
    /* background:red; */
    max-height:100%;
    overflow-y:scroll ;
}
.divConteudo li{
    list-style: none;
}
.divfilhoConteudo{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction:row;
    width: 1200px;
    height: 20px;
    border-radius: 35px;
    padding: 15px 30px;
    margin:30px 20px 20px 20px ;
}
#liNumero{
    position:relative;
    z-index:99;
    left: 5%;
}
#liSistema{
    
    position:relative;
    z-index:98;
    left: 17%;
    width:80px;
    text-align:center;
}
#liSetor{
    
    width: 120px;
    position:relative;
    z-index:97;
    left: 33%;
    text-align:center;
}
#liStatus{
    position:relative;
    z-index:97;
    left: 41.5%;
}
#liAndar{
    
    position:relative;
    z-index:96;
    left: 45%;
    width:30px;
    text-align:center;
}
#liUpdate{
    position:relative;
    z-index:95;
    left: 50%;
    border-radius: 30px;
    width: 8%;
    height:110%;
    background-color:#020F1F;
    display:flex;
    justify-content: center;
    padding:2px 5px;
}
#liDelete{
    
    position:relative;
    z-index:94;
    left: 51%;
    border-radius: 30px;
    width: 8%;
    height:110%;
    background-color:#020F1F;
    display:flex;
    justify-content: center;
    padding:2px 5px;
}
#li3Pontos{
    position:relative;
    z-index:94;
    left: 53%;
    bottom: 40%;
    font-size: 130%
}

.active{
    background-color: #1D8E0A;
    border-radius:20px;
    width:70px;
    height: 25px;
    text-align: center;
}
#inactive{
    background-color: #8E0A0A;
    border-radius:20px;
    width:70px;
    height: 25px;
    text-align:center
}

/* fim do conteudo */