* {
    margin: 0;
}

#container_nav{
    display: flex;
}

#container_logo_nav{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: center;
}

.img_logo_nav{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #020F1F;
    width: 100%;
    height: 10vh;
}

.img_logo_nav .logo_nav{
    width: 15%;

}

.img_logo_nav .logotipo_nav{
    width: 35%;

}

#container_menu_nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #020F1F;
}

.menu_nav ul{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.menu_nav li{
    list-style: none;
}

.menu_nav ul li a{
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}