body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pagina_inicial{
    background-image: url(../assets/img/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.container_introducao {
    width: 100%;
    height: 100vh;
    display: flex;
}

.introducao{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

.texto_introducao {
    display: flex;
    color: #FF993B;
    height: 15vh;
    width: 30%;
    font-size: 32px;
    margin-bottom: 2%;
    text-shadow: rgb(197, 130, 68) 0.1em 0.1em 0.2em;
    background-color: rgba(0, 0, 0, 0.474);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-right: 10%;
    margin-bottom: 8%;
}

.container_sobre {
  background-color: #020F1F;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-content: end;
  align-items: center;
}

.container_sobre img{
    height: 72vh;
    image-resolution: inherit;
    margin-right: 12%;
}

.sobre {
  display: flex;
  height: 100vh;
  width: 40%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.frase {
  display: flex;
  color: #FF993B;
  text-decoration: underline;
  margin-bottom: 5%;
  font-size: 32px;
  text-shadow: rgb(197, 130, 68) 0.1em 0.1em 0.2em;
}

.texto_sobre {
  color: white;
  font-size: 28px;
  margin-bottom: 5%;
}

.btn_sobre {
  background-color: #26ABA7;
  border: none;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
}

.btn_sobre .texto_button_sobre{
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  transition: 0.3s;
  text-shadow: black 0.1em 0.1em 0.2em
}

.btn_sobre:hover {
  background-color: #FF993B;
  opacity: 1;
}

.btn_sobre .texto_button_sobre {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.btn_sobre .texto_button_sobre:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.10s;
}

.btn_sobre:hover .texto_button_sobre {
padding-right: 25px;
}

.btn_sobre:hover .texto_button_sobre:after {
opacity: 1;
right: 0;
}


.container_cards {
    background-image: url(../assets/img/Home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.container_cards .frase {
  margin-top: 3%;
  font-size: 32px;
}

.cards {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.box_cards{
  width: 20%;
  height: 50vh;
  background-color: #4c73b66d;
  border: rgba(255, 255, 255, 0.712) 2px solid;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.img_icon {
  width: 25%;
  height: 10vh;
}

.box_cards h3 {
  color: #FF993B;
  font-weight: 800;
}

.box_cards:hover{
  transform: scale(1.1);
  transition: 0.4s;
}

.box_cards:hover h3{
  transform: scale(1.0);
  transition: 0.4s;
  text-shadow: rgb(197, 130, 68) 0.1em 0.1em 0.2em;
}

.container_contato {
  background-color: #020F1F;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.container_contato .frase {
  margin-top: 3%;
  font-size: 32px;
}

.contato {
  color: white;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5%;
}

.texto_contato img{
  width: 6%;
}

















@media only screen and (max-width: 500px){

.container_introducao {
    width: 100%;
    height: 10vh;
    display: flex;
}

.introducao{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

.texto_introducao {
    display: flex;
    color: #FF993B;
    height: 10px;
    width: 30%;
    font-size: 10px;
    margin-bottom: 2%;
    text-shadow: rgb(197, 130, 68) 0.1em 0.1em 0.2em;
    background-color: rgba(0, 0, 0, 0.474);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-right: 10%;
    margin-bottom: 25%;
}

.container_sobre {
  background-color: #020F1F;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: end;
  align-content: end;
  align-items: center;
  flex-direction: column;
}

.container_sobre img{
    height: 20vh;
    image-resolution: inherit;
    margin-right: 0%;
}

.sobre {
  display: flex;
  height: 30vh;
  width: 80%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.frase {
  display: flex;
  color: #FF993B;
  text-decoration: underline;
  margin-bottom: 5%;
  font-size: 20px;
  text-shadow: rgb(197, 130, 68) 0.1em 0.1em 0.2em;
}

.texto_sobre {
  color: white;
  font-size: 10px;
  margin-bottom: 5%;
}

.btn_sobre {
  background-color: #26ABA7;
  border: none;
  color: #FFFFFF;
  padding: 5px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
}

.btn_sobre .texto_button_sobre{
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  transition: 0.3s;
  text-shadow: black 0.1em 0.1em 0.2em
}

.btn_sobre:hover {
  background-color: #FF993B;
  opacity: 1;
}

.btn_sobre .texto_button_sobre {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.btn_sobre .texto_button_sobre:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.10s;
}

.btn_sobre:hover .texto_button_sobre {
padding-right: 25px;
}

.btn_sobre:hover .texto_button_sobre:after {
opacity: 1;
right: 0;
}


.container_cards {
  background-image: url(../assets/img/Home.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.container_cards .frase {
  margin-top: 3%;
  font-size: 30px;
}

.cards {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.box_cards{
  width: 20%;
  height: 100px;
  background-color: #4c73b66d;
  border: rgba(255, 255, 255, 0.712) 2px solid;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 8px;
  cursor: pointer;
}

.img_icon {
  width: 25%;
  height: 200px;
}

.box_cards h3 {
  color: #FF993B;
  font-weight: 800;
}

.box_cards:hover{
  transform: scale(1.1);
  transition: 0.4s;
}

.box_cards:hover h3{
  transform: scale(1.0);
  transition: 0.4s;
  text-shadow: rgb(197, 130, 68) 0.1em 0.1em 0.2em;
}

.container_contato {
  background-color: #020F1F;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.container_contato .frase {
  margin-top: 3%;
  font-size: 16px;
}

.contato {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-bottom: 5%;
  margin-left: 10%;
}

.texto_contato img{
  width: 6%;
}
}